* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    background-color: white;
    font-family: 'SF Pro', sans-serif;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

img {
    max-width: 100%;
    height: auto;
}
